{% extends "base.html" %}

{% block content %}
  <div id="react-container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    const files = {{ files | tojson }};
  </script>
  <script src="{{ url_for('static', filename="js/__UPLOAD_SCRIPT__")}}"></script>
{% endblock %}

