{% extends 'base.html' %}

{% block stylesheets %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
  <div id="react-container"></div>
{% endblock %}

{% block scripts %}
  <script>
    const csrf_token = "{{ csrf_token() }}";
    const files = {{ files | tojson }};
  </script>
  <script src="{{ url_for('static', filename="js/__INDEX_SCRIPT__")}}"></script>
{% endblock %}

