{%- extends "base.html" %}

{% block navbar %}{% endblock %}

{% block content -%}
  <div class="row align-items-center h-100"> 
    <div class="col-6 mx-auto"> 
      <div class="jumbotron"> 
        {{ render_form(form) }} 
      </div> 
    </div> 
  </div> 
{%- endblock %}
