{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_static %}

{% macro nav_item(endpoint, title) %}
  <button type="button" class="btn btn-primary">
    {{ render_nav_item(endpoint, title) }}
  </button>
{% endmacro %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  {% block header %}
    <head>
      {% block title %}
        <title>big_J</title>
      {% endblock %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block stylesheets %}
        <link
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
          >
          {{ render_static('css', 'css/style.css') }}
        {% endblock %}
    </head>
  {% endblock %}
  <body class="h-100">
    {% block navbar %}
      <nav class="navbar navbar-expand-sm navbar-dark" id="top-navbar">
        <button type="button" class="btn btn-success">
          <a class="navbar-brand text-center pl-2" href="{{ url_for('index') }}" id="index-nav">big_J</a>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav mr-auto pl-2">
            {% block sub_navbar -%}
              {{ nav_item('files.view', 'files') }}
            {% endblock -%}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated -%}
              <button type="button" class="btn btn-danger text-white">
                {{ render_nav_item('auth.logout', 'Logout') }}
              </button>
            {% else -%}
              <button type="button" class="btn btn-primary text-white">
                {{ render_nav_item('auth.login', 'Login') }}
              </button>
            {% endif -%}
          </ul>
        </div>
      </nav>
      <br>
    {% endblock %}
    <div class="container h-100">
      {% block content %}
      {% endblock %}
    </div>
    {% block scripts %}
      <script>
        const csrf_token = "{{ csrf_token() }}";
      </script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
        >
      </script>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        >
      </script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
        >
      </script>
    {% endblock %}
  </body>
</html>
