
body { background-color: #303030; }

p { color: white; }

form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basedark {
    background-color: #303030;
    color: #bbbbbb;
}

.baselight {
    background-color: #bbbbbb;
    color: #cccccc;
}

.impinfo {
    color: #ff0000;
}

.well {
    background-color: #505050;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
}

.navbar {
    height: 5rem;
}

a:hover {
    color: #007bff;
}
